<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="viewport" content="width=1009" />
	<title>Fractions 1</title>
</head>
<body tiles:fragment="content">
	<iframe style="display:none" title="Fraction 1" name="titlemgrframe" src="sequence/a001titlemgr.html" resize="no" scrolling='no' marginwidth='0' marginheight='0'></iframe> 
	<iframe title="Fraction 1" name="contentframe" src="sequence/a001content.html" resize="no" onLoad="resize(this)" frameborder="0"></iframe> 
</body>
</html>
