<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/italk2learn/styles/it2lmainstyles.css" />
	<script src="../js/popupIOS/jquery-1.9.1.js"></script>
	<link rel="stylesheet" href="../css/popupIOS/index.css"/>
	<script src="../js/popupIOS/generalFunctions.js"></script>
	<script type="text/javascript" src="/js/initMain.js" th:src="@{/resources/js/initMain.js}" charset="UTF-8"></script>
	
	
</head>
<body class="back" style="margin-top: 0px; margin-bottom: 0px; height: auto;">
	<div class="background" style="height: 1200px;margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px; max-width: 915px;">
<!-- 		<div id="flags" class="flags"> -->
<!-- 					<a href="?lang=en" style="text-decoration: none"> -->
<!-- 				        <img alt="en" title="English" src="../../images/UK.png" th:src="@{/resources/images/UK.png}"/> -->
<!-- 				    </a> -->
<!-- 				    <a href="?lang=de" style="text-decoration: none"> -->
<!-- 				        <img alt="de" title="German" src="../../images/GE.png" th:src="@{/resources/images/GE.png}"/> -->
<!-- 				    </a> -->
<!-- 				    <a href="?lang=es" style="text-decoration: none"> -->
<!-- 				        <img alt="fr" title="Spanish" src="../../images/ES.png" th:src="@{/resources/images/ES.png}"/> -->
<!-- 				    </a> -->
<!-- 		</div> -->
		<table align="center">
			<tbody>
				<tr>
					<td>
						<div>
							<a href="#"> <img src="../../images/iLearnFraction_banner_05.jpg" th:src="@{/resources/images/iLearnFraction_banner_05.jpg}" alt="italk2learn" /></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<table align="center">
            <tbody>
            <tr align="center">
                <td align="center">          
                <div id="wrapper_dark_gray" style="height: 500px; width: 890px; padding-top: 20px;">

                    <div style="display: inline; width: 890px">
                        <span id="intro" style="display: inline; font-size: 18px;" th:text="#{welcometo}">Welcome to iLearnFractions</span>
                    </div>
                    <table style="width: 850px; margin-top: 50px;">
                        <tbody>
                        <tr>
                        <td style="width: 200px;">
                            <div id="wrapper_light_gray" style="margin: 30px 0px 0px ! important; height: 140px;">
	                            <span style="padding-top: 10px; display: block; margin-right: auto; position: relative; margin-left: 75px; font-weight: bold; font-size: 13px; color: rgb(170, 170, 170);" th:text="#{step1}"> Step 1. </span>
	                            <div id="pre" style="margin-top: 30px; margin-right: auto; display: block; margin-left: 35px;">
	                                <a style="color: rgb(2, 117, 164); font-size: 15px;" id="q1" href="/italk2learn/exercise/beforeQuiz">Pre-Questionnaire</a>
	                            </div>
                            </div>
                        </td>
                        <td style="width: 411px;">
                            <div id="wrapper_light_gray" style="height: 260px; margin: 30px 10px 0px ! important;">
                            <span style="padding-top: 10px; display: block; margin-right: auto; position: relative; margin-left: 175px; color: rgb(170, 170, 170); font-size: 13px; font-weight: bold;" th:text="#{step2}"> Step 2. </span>
                                <div style="margin-top: 83px; margin-right: auto; display: block; margin-left: 145px;">
                                <a style="color: rgb(2, 117, 164); font-size: 22px;" id="q3" href="/italk2learn/exercise" th:text="#{experience}">Experience</a>
                                </div>
                            </div>
                        </td>
                        <td style="width: 200px;">
                            <div id="wrapper_light_gray" style="margin: 30px 0px 0px; height: 140px;">
	                            <span style="padding-top: 10px; display: block; margin-right: auto; position: relative; margin-left: 75px; font-weight: bold; color: rgb(170, 170, 170); font-size: 12px;" th:text="#{step3}">Step 3.</span>
	                            <div id="post" style="margin-top: 30px; margin-right: auto; display: block; margin-left: 32px;">
	                                <a style="color: rgb(2, 117, 164); font-size: 15px;" id="q2" href="/italk2learn/exercise/afterQuiz">Post-Questionnaire</a>
	                            </div>
                            </div>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <br/>
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
		<br/>
	</div>
</body>
</html>