<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org"
	  lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>iLearnFractions</title>
	<script src="js/popupIOS/jquery-1.9.1.js"></script>
	<link rel="stylesheet" href="css/popupIOS/style.css"/>
	<script src="js/popupIOS/modernizr.js"></script>
	<link rel="stylesheet" href="css/popupIOS/index.css"/>
	<script src="js/popupIOS/generalFunctions.js"></script>
	<script src="js/popupIOS/index.js"></script>

	<!--<link rel="stylesheet" type="text/css" media="screen, projection" href="../styles/it2lmainstyles.css" />-->
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/italk2learn/styles/it2lmainstyles.css" />
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/italk2learn/styles/alertStyle.css" />	
	<script type="text/javascript" src="/italk2learn/js/history/history.js"></script>
	<script type="text/javascript" src="/js/swfobject.js" th:src="@{/resources/js/swfobject.js}"></script>
    <script type="text/javascript" src="/js/unity2.js" th:src="@{/resources/js/unity2.js}"></script>
    <script type="text/javascript" src="/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
    <script type="text/javascript" src="/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" src="/js/jquery-ui.js" th:src="@{/resources/js/jquery-ui.js}"></script>
    <script type="text/javascript" src='js/scripts/strophe.js'></script>
    <script type="text/javascript" src='js/scripts/flXHR.js'></script>
    <script type="text/javascript" src='js/scripts/strophe.flxhr.js'></script>
    <script type="text/javascript" src="/js/jsapi.js" th:src="@{/resources/js/jsapi.js}"></script>
	<script type="text/javascript" src='sequence/js/monitorWOZClient.js'></script>
	<script type="text/javascript" src="/js/initMainContainer.js" th:src="@{/resources/js/initMainContainer.js}"></script>
<!-- 	<script type="text/javascript" src="/js/initTIS.js" th:src="@{/resources/js/initTIS.js}"></script> -->

    <script type="text/javascript" src="#" th:src="@{/resources/dojo/dojo.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring-Dojo.js}"></script>
</head>
<body class="back" style="margin-top:0px; height:inherit; margin-bottom:0px;">
<div id="dialogoverlay"></div>
<div id="dialogbox">
<div>
	<div id="dialogboxhead"></div>
	</div>
</div>
<div class="background" style="margin-left: auto;margin-right: auto; height:initial;">
	<table id="header" class="header" align="center">
           <tr align="left">
             <td id="topbar" align="left">
             </td>
             <td id="logo" align="left">
                <div>
                  <a href="#" th:href="@{/}">
                    <img src="../../images/iLearnFraction_banner_05.jpg" th:src="@{/resources/images/iLearnFraction_banner_05.jpg}" alt="italk2learn" />
                  </a>
                </div>
             </td>
<!--              <td style="vertical-align:top"> -->
<!--              	<div id="flags"> -->
<!-- 				    <a href="?locale=en" style="text-decoration: none"> -->
<!-- 				        <img alt="en" title="English" src="../../images/UK.png" th:src="@{/resources/images/UK.png}"/> -->
<!-- 				    </a> -->
<!-- 				    <a href="?locale=de" style="text-decoration: none"> -->
<!-- 				        <img alt="de" title="German" src="../../images/GE.png" th:src="@{/resources/images/GE.png}"/> -->
<!-- 				    </a> -->
<!-- 				    <a href="?locale=es" style="text-decoration: none"> -->
<!-- 				        <img alt="fr" title="Spanish" src="../../images/ES.png" th:src="@{/resources/images/ES.png}"/> -->
<!-- 				    </a> -->
<!-- 				</div> -->
<!--              </td> -->
          </tr>
    </table>
	<table align="center" style="width:800px;">
         <tr align="center">
            <td align="center">
	            <div id="wrapper_dark_gray" style="padding-bottom:30px; min-height: 995px; padding-top:20px;">
		            <div style="display:inline; margin-left: 10px; float: left; width:130px;" sec:authorize="hasRole('ROLE_ADMIN')">
		               	<a href="#" th:href="@{/monitorWOZ}" class="it2lbutton" th:text="#{gotowoz}"> Go to Woz <img style="vertical-align:middle" th:src="@{/resources/images/bt_arrow_right.png}" src="../../images/bt_arrow_right.png"></img> </a>
					</div>
					<div style=" width: 12%; display: inline; float: left; margin-left: 25px;" sec:authorize="hasRole('ROLE_USER')">&nbsp;</div>
		            <div style="display:inline; width:76%;">
		            	<span style="display:inline; font-weight: bold;" th:text="#{welcome}"> Welcome </span> <div id="user" style="font-weight: bold; display:inline;"> Name </div>
		            	<span style="display:inline; font-weight: bold;" th:text="#{condition}"> Condition </span><div id="condition" style="font-weight: bold; display:inline;"> Condition </div>
					</div>
					<div sec:authorize="hasRole('ROLE_USER')" th:if="${#authentication}" style="display:inline; margin-right: 25px; float: right; width:12%">
						<a href="#" th:href="@{/auth/logout}" style=" float: right; color:#e74c3c; font-weight:bold; font-size:13px;">Logout</a>
					</div>
					<div id="wrapper_light_gray" style="padding-bottom:30px; min-height: 780px; margin-top: 30px;">
						 <table style="width:100%;">
							 <tr>
								<td style="width: 33%;">
									<div id="connect" style="color:#E74C3C; font-size:10px;">
										<div id="connectedON">
											<img style="vertical-align:middle; padding-left:5px; padding-top:4px; margin-bottom:2px;" th:src="@{/resources/images/bt_connected_on.png}" src="/italk2learn/images/bt_connected_on.PNG"></img>
											<span style="padding-left:12px; font-weight:bold;" th:text="#{connected}">CONNECTED</span>
										</div>
										<div id="connectedOFF">
											<img style="vertical-align:middle; padding-left:5px; padding-top:4px; margin-bottom:2px;"  th:src="@{/resources/images/bt_connected_off.png}" src="/italk2learn/images/bt_connected_off.png"></img>
			                				<span style="padding-left:5px; font-weight:bold;" th:text="#{disconnected}">DISCONNECTED</span>
										</div>
										<div id="recording">
			                				<span style="padding-left:5px; font-weight:bold;" th:text="#{recording}">RECORDING</span>
										</div>		
			                		</div>
								</td>
								<td style="width: 33%;">
										<table style="width:100%; height:100%;">
											<tr>
												<td style="width:50%; height:100%;">
													<div style="display: inline-block; width:50px; height:50px; float:right; padding-top:2px;" sec:authorize="hasRole('ROLE_USER')">
														<input type="submit" id="sButton" class="it2lSoundOnbutton" value=""/>
													</div>
												</td>
												<td style="width:50%; height:100%;">
													<div style="display: inline-block; width:50px; height:50px; float:right; padding-top:2px; float: left;" sec:authorize="hasRole('ROLE_USER')">
														<input type="submit" id="help" class="it2lHelpbuttonON" value=""/>
													</div>
												</td>
								        	</tr>
								        </table>
								</td>
								<td style="width: 33%;">
										<div style="display=inline; float:right; padding-top:5px; padding-right:5px;">
											<button type="submit" id="next" sec:authorize="hasRole('ROLE_USER')" class="it2lNextbuttonON"></button>
							    		</div>
								</td>
							 </tr>
						 </table>
		
						 <table style="style=background-color: #fcf3ed;margin-left: 5px;margin-right: 5px;">
							  <tr>
							    <th colspan="3" id="exercisePrompt" style=" padding-left: 6px;text-align: left;"> </th>
							  </tr>
							  <tr>
				                  <td style="min-width:800px;">
				                		<div id="mainContainer" align="center" sec:authorize="hasRole('ROLE_USER')" class="mainContainer">
				                			<table>
				                				<tr align="center">
				                					<td align="center">
							                			<a>
							                        		<img src="../../images/it2l-loading.gif" th:src="@{/resources/images/it2l-loading.gif}" alt="loading" />
							                    		</a>
					                    			</td>
					                   			 </tr>
				                		   </table>
				                		</div>
				                  </td>
							  </tr>
						</table>
	            </div>
				<!--  END light -->
				<div id="speechComponent">
		            <div style="display: initial; color: #0076a3; font-weight:bold;" th:text="#{voicerecording}"> Voice recording </div>
			            <div style="padding-top: 8px; padding-right:150px; display: inline-block;">
			            	<div id="speechRecognition" align="center" sec:authorize="hasRole('ROLE_USER')" style="padding-top:30px;">
								<p style="display: inline; ">To view this page ensure that Adobe Flash Player version 11.1.0 or greater is installed.</p>
								<script type="text/javascript">
						              var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
						              document.write("<a href='http://www.adobe.com/go/getflashplayer' ><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
						        </script>
							</div>
						</div>
		            </div>
	            </div>
	            <!--  END dark -->
            </td>
          </tr>
    </table>
	<script type="text/javascript">

		$.ajax({
			type: 'GET',
			url: "sequence/getUser",
			success: function (data) {
				loadFlashMovie(data);
			},
			error: function (jqXHR, status, error) {
			}
		});
		function loadFlashMovie (us){
		     // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
		     var swfVersionStr = "11.1.0";
		     // To use express install, set to playerProductInstall.swf, otherwise the empty string.
		     var xiSwfUrlStr = "playerProductInstall.swf";
		     var flashvars = {
		     	  user: us
		         };
		     var params = {};
		     params.wmode = "opaque";
		     params.quality = "high";
		     params.bgcolor = "#ffffff";
		     params.allowscriptaccess = "sameDomain";
		     params.allowfullscreen = "true";
		     var attributes = {};
		     attributes.id = "It2lSpeechInterfaceMain";
		     attributes.name = "It2lSpeechInterfaceMain";
		     attributes.align = "middle";
		     swfobject.embedSWF(
		             "sequence/It2lSpeechInterfaceMain.swf", "speechRecognition",
		             "350", "150",
		             swfVersionStr, xiSwfUrlStr,
		             flashvars, params, attributes);
		     // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
		     swfobject.createCSS("#speechRecognition", "display:block;text-align:right;");
		  }
    </script>
	<noscript>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			width="350" height="150" id="Italk2learnSpeechRecognizer">
			<param name="movie" value="sequence/It2lSpeechInterfaceMain.swf" />
			<param name="wmode" value="opaque"/>
			<param name="quality" value="high" />
			<param name="bgcolor" value="#ffffff" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="allowFullScreen" value="true" />
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash"
				data="sequence/It2lSpeechInterfaceMain.swf" width="350" height="150">
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="allowFullScreen" value="true" />
				<!--<![endif]-->
				<!--[if gte IE 6]>-->
				<p>Either scripts and active content are not permitted to run or
					Adobe Flash Player version 11.1.0 or greater is not installed.</p>
				<!--<![endif]-->
				<a href="http://www.adobe.com/go/getflashplayer"> <img
					src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
					alt="Get Adobe Flash Player" />
				</a>
				<!--[if !IE]>-->
			</object>
			<!--<![endif]-->
		</object>
	</noscript>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<p>
			Choose exercise
	 	<select id="exList">
    		 <option th:each="exercise : ${allExercises}" th:value="${exercise.idExercise}" th:text="${exercise.exercise}">Option</option>
     	</select>
     	<input id="submitEx" type="button" value="Submit" />
		</p>
	</div>
	<span th:text="${error}" style="color: red; font-size: 14px; margin-left: 100px">
	</span>
	<div id="player"></div>
<!-- 	<div id="testTIS"> -->
<!-- 		<table> -->
<!-- 			<tr> -->
<!-- 				<th colspan="4"> <span align="center">Task-Independent-Support Test </span> </th> -->
<!-- 			</tr> -->
<!-- 			<tr> -->
<!-- 				<td> -->
<!-- 					<input type="submit" id="butTIS1" value="emotion 1"/> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<input type="submit" id="butTIS2" value="no maths"/> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<input type="submit" id="butTIS3" value="maths vocab"/> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<input type="submit" id="butTIS4" value="emotion 2"/> -->
<!-- 				</td> -->
<!-- 			</tr> -->
<!-- 			<tr> -->
<!-- 				<td> -->
<!-- 					<audio controls="controls"> -->
<!-- 					  <source src="complicated-example-mono.wav" type="audio/wav"/> -->
<!-- 						Your browser does not support the audio element. -->
<!-- 					</audio> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<audio controls="controls"> -->
<!-- 					  <source src="no-maths-vocab-example-01-mono.wav" type="audio/wav"/> -->
<!-- 						Your browser does not support the audio element. -->
<!-- 					</audio> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<audio controls="controls"> -->
<!-- 					  <source src="maths-example-mono.wav" type="audio/wav"/> -->
<!-- 						Your browser does not support the audio element. -->
<!-- 					</audio> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<audio controls="controls"> -->
<!-- 					  <source src="hard-example-mono.wav" type="audio/wav"/> -->
<!-- 						Your browser does not support the audio element. -->
<!-- 					</audio> -->
<!-- 				</td> -->
<!-- 			</tr> -->
<!-- 		</table> -->
<!-- 	</div> -->
	<audio controls="controls" id="speechProductionPlayer" hidden="true"></audio>
	
</div>
<div class="modal dialogoverlay" style="width:600px; height: 500px;">
		<div id="dialogbox1">
			<div id="dialogboxhead1">
				<button id="closeBton" class="close toggleModal">X</button>
				<div id="dialogboxbody1" style="overflow:auto;">
					<header>
      					<h2 id="titlePop"></h2>
    				</header>
					<section>
      					<form><div id="questionsDialog" title="Questions" class="center"></div></form>
      				</section>
				</div>
				<br/>
				<button id="sendJson" class="it2lbutton" th:text="#{send}">Send</button>
			</div>
		
		</div>
    		<!--<button class="button-border button-error pull-right"><span class="icon">&#61756 </span>Lock</button>-->
</div>
</body>
</html>