<?xml version="1.0" encoding="utf-8" ?>
<config>
	<flashvarMoviePath>sequence/ex/</flashvarMoviePath>
	<flashvarPath>sequence/pb/</flashvarPath>
	<flashvarViewAll>0</flashvarViewAll>
	<flashvarAssessment>0</flashvarAssessment>
	<flashvarSkipText>1</flashvarSkipText>
	<flashvarCountry>gbr</flashvarCountry>
</config>