@CHARSET "UTF-8";

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.alpaca-message{
	display: none;
}

.lang{
	cursor: pointer;
}

.imOpt{
	cursor: pointer;
	border:solid 1px #C8C8C8; 
	margin:10px;
}

.selected{
   box-shadow:0px 12px 22px 1px #333;
}

.textImg
{
    display: inline;
    font-size: 12px;
    vertical-align: center;
    font-weight: initial !important;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    padding-bottom: 10px;
    text-align: left;
}

.dialogoverlay{
	background: #C8C8C8 none repeat scroll 0% 0%;
    width: 550px;
    z-index: 10;
    border-radius: 15px;
}

#dialogboxhead1{ 
       background: #C8C8C8;
       border-radius:7px; 
       font-size:14px;
       padding:5px; 
       color:#F00;
       font-family: Verdana,Geneva,sans-serif; font-weight:bold;
       border-radius: 15px;
}

#dialogboxbody1{ 
       background:#EAEBEC; 
       color:#444444; 
       text-align: center;
       font-family: Verdana,Geneva,sans-serif;
       font-weight:bold;
       height: 400px;
       border-radius: 15px;
}

.flags {
    text-align: right;
}

